<header class="header">
    <img src="./assets/img/logo.png" />
</header>

<main class="container">

    <section class="container__ctn">
        <div class="search">
            <ng-select
                [items]="pokemons$ | async"
                [virtualScroll]="true"
                bindLabel="name"
                placeholder="Search a Pokémon"
                (change)="showPokemon($event)">
            </ng-select>
        </div>

        <router-outlet></router-outlet>
    </section>

    <section class="featured">
        <h1 class="featured__title">
            <span>Featured Pokémon</span>
            <button class="featured__btn" type="button" (click)="newRandomPokemon()"><i class="icofont-refresh"></i></button>
        </h1>

        <a class="featured__link" [routerLink]="randomPokemon.id" *ngIf="randomPokemon$ | async as randomPokemon">
            <app-pokemon-miniature [pokemon]="randomPokemon"></app-pokemon-miniature>
        </a>
    </section>
</main>
